

services:
  # Веб-сервер (Nginx)
  web:
    image: nginx:latest
    container_name: ngnix_app
    ports:
      - "${APP_EXTERNAL_PORT}:80"
    networks:
      - app-network
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
  # База данных PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: database_app
    restart: unless-stopped
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


  app:
    build:
      context: .
      dockerfile: docker/python/Dockerfile
    container_name: app

    ports:
      - "8080:80"
    volumes:
      - ./src:/code/src

    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
volumes:
  postgres_data:
  redis_data: